body {
    margin: 1%;
    background-size: cover;
    background: linear-gradient(to bottom, #482839, #1f1719) fixed;
    accent-color: #AE2805;
    color: #fbd8e6;
    font-family: Calibri, sans-serif;
    font-size: 4vmin;
}

.accentText {
    color: #9c1206;
}

.button {
    --bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
    --edge-light: hsla(0, 0%, 50%, 0.8);
    --text-light: rgba(255, 255, 255, 0.4);
    --back-color: 337, 40%;

    cursor: pointer;
    padding: 0.7em 1em;
    border-radius: 8px;
    min-height: 2.4em;
    min-width: 3em;
    display: flex;
    align-items: center;
    gap: 0.5em;

    font-size: 3vmin;
    letter-spacing: 0.05em;
    line-height: 1;
    font-weight: bold;

    background: linear-gradient(
            140deg,
            hsla(var(--back-color), 50%, 1) min(2em, 20%),
            hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
    );
    color: hsla(0, 0%, 90%);
    border: 0;
    box-shadow: inset 0.4px 1px 4px var(--edge-light);

    transition: all 0.1s var(--bezier);
}

.button:hover {
    --edge-light: hsla(0, 0%, 50%, 1);
    text-shadow: 0 0 10px var(--text-light);
    box-shadow: inset 0.4px 1px 4px var(--edge-light),
    2px 4px 8px hsla(0, 0%, 0%, 0.295);
    transform: scale(1.1);
}

.button:active {
    --text-light: rgba(255, 255, 255, 1);

    background: linear-gradient(
            140deg,
            hsla(var(--back-color), 50%, 1) min(2em, 20%),
            hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
    );
    box-shadow: inset 0.4px 1px 8px var(--edge-light),
    0px 0px 8px hsla(var(--back-color), 50%, 0.6);
    text-shadow: 0px 0px 20px var(--text-light);
    color: hsla(0, 0%, 100%, 1);
    letter-spacing: 0.1em;
    transform: scale(1);
}



#center {
    margin: auto;
    width: 70vw;
}

#elementilogo {
    width: 20%;
    max-width: 150px;
    min-width: 75px;
    float: right;
}

#headertextdiv {
    max-width: fit-content;
    margin: auto;
    font-weight: lighter;
}

#headertext {
    font-size: 6vw;
    margin-top: 0;
    text-align: center;
    color: #068e08;
    font-weight: bold;
    /*white-space: nowrap;*/
}

#confirmationtextdiv {
    max-width: fit-content;
    margin: auto;
}

#confirmationtext {
    text-align: center;
    color: #068e08;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 100%);
}


/* prevent overriding from JS-applied changes */
input.has-text {
    border-color: #068e08 !important;
    transition: 150ms;

}

#usewarning {
    font-size: 2.5vmin;
    margin-bottom: 1vmin;
    margin-top: 2vmin;
}


.warning {
    width: fit-content;
    margin: 5vw auto;
    text-align: center;

    max-width: 800px;
    background-color: #57213E;
    box-shadow: 0 0 110px #6E3952;
    border-color: #95375b;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    padding: 20px;
    display: block;
}


.issue {
    width: fit-content;
    max-width: 800px;
    margin: 2vw auto;
    background-color: #57213E;
    box-shadow: 0 0 110px #6E3952;
    border-color: #d32d24;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    padding: 20px;
    display: block;
}
#cancelButton {
    background-color: #36242B;
    padding: 0.25em 0.5em;
    font-size: 3vmin;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#confirmButton {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: block;
}

.timetable {
    max-width: 800px;
    margin: 2vw auto;
    background-color: #57213E;
    box-shadow: 0 0 110px #6E3952;
    border-color: #95375b;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    padding: 20px;
    display: none;
}

h1, h2 {
    text-align: center;
    margin-top: 0;
    color: #fbd8e6;
}

.timetable-row {
    padding: 25px;
    border-bottom: 3px solid #fbd8e6;
}

.timetable-row:last-child {
    border-bottom: none;
}

.active-timetable {
    background-color: #733556;
    color: #6ca524;
    border-radius: 8px;
}

.timetable-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #fbd8e6;
}

.timetable-details strong {
    font-weight: bold;
}

.responsible-users {
    font-size: 3vmin;
}


#modalMessage {
    white-space: pre-wrap; /* Preserve whitespace formatting */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6); /* Black with opacity */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #57213e;
    margin: auto;
    padding: 20px;
    border: 3px solid #95375b;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    color: #fbd8e6;
    text-align: center;
    box-shadow: 0 0 400px black;
}

.close-button {
    color: #fbd8e6;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 13.55px;
    transition-duration: 0.2s;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content button {
    background-color: #c02820;
    color: #fbd8e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-color: Black;
    border-radius: 8px;
    height: auto;
    min-height: 5.8vmin;
    width: auto;
    padding: 0.5em 1em;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 4vmin;
    white-space: nowrap;
    margin: 10px;
}

.modal-content button:hover {
    background-color: #ff3a3a;
}


@media (max-width: 600px) {
    body {
        font-size: 5vmin;
    }

    .alerting {
        align-content: center;
    }
    #headertext {
        font-weight: bold;
        font-size: 10vw;

    }

    input {
        font-size: 5vmin;
    }

    button {
        font-size: 5vmin; /* Larger relative font size for smaller screens */
        min-height: 10vmin; /* Ensure a minimum height */
        padding: 0.5em 1em; /* Relative padding */
        white-space: nowrap; /* Prevent text from wrapping */
        display: block;
        /* Center the button */
        margin: 10px auto 20px;
    }

    #usewarning {
        margin: 10px auto 20px;
        display: flex;
        justify-content: center;
    }
    .timetable {
        margin: 10vw auto;
    }

    .timetable-row {
        padding: 15px;
    }

    .responsible-users {
        font-size: 4vmin;
    }

    #elementilogo {
        margin: 0 auto;
        display: block;
        float: none;
    }
}

#noDutyWarning {
    color: #fbd8e6;
    font-size: 3.5vmin;
    text-align: center;
    margin-top: 2vmin;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 100%);
}

#loadingMessage {
    font-size: 3.5vmin;
    text-align: center;
    margin-top: 2vmin;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 100%);
}

#errorMessage {
    color: #fbd8e6;
    font-size: 3.5vmin;
    text-align: center;
    margin-top: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 100%);
}

.user-box {
    margin: 10px 0;
    border-radius: 8px;
    padding: 10px;
    background-color: #57213E;
    box-shadow: 0 0 110px #6E3952;
    border-color: #95375b;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    display: block;
}

.userRow {
    padding: 5px;
    margin: 5px 0;
    border-radius: 8px;
}

.userRow.selected {
    background-color: #9c3a71;
    border-left: 5px solid #6ca524;
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
}

.super-header {
    margin-top: 0;
    margin-bottom: 0.01vh;
}


.freshman-header,
.advanced-header{
    margin-top: 3vh;
    margin-bottom: 0;
}

.success-message {
    color: #6ca524;
    font-size: 3.5vmin;
    text-align: center;
    margin-top: 2vmin;
    background-color: #54273e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
}

.alerting {
    max-width: 800px;
    margin: 2vw auto;
    background-color: #57213E;
    box-shadow: 0 0 110px #6E3952;
    border-color: #95375b;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    padding: 20px;
    display: block;
}


.input-group {
    position: relative;
}

.input {
    margin: 1vmin;
    margin-bottom: 2vmin;
    border: solid 1.5px red;
    border-radius: 8px;
    background: none;
    padding: 1.3vmin;
    display: flex;
    justify-content: center;
    font-size: 2.5vmin; /* input test sice */
    color: #fbd8e6;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    width: 57vw;
    max-width: 750px;


}

.user-label { /* the lable of the boxes */
    margin: 1vmin;
    position: absolute;
    left: 15px; /* text x coordinate */
    color: #fbd8e6;
    pointer-events: none;
    transform: translateY(-7.85vmin); /* test y coordinate */
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-size: 3vmin;
}

.input:focus, input:valid {
    outline: none;
    border: 1.5px solid #ffb2d0;
}

.input:focus ~ label, input:valid ~ label {
    transform: translateY(-424%) scale(1);
    background-color: #57213e;
    font-size: 2vmin;
    padding: 0 .2em;
    color: #068e08;
}

#roomNumber {
    border-color: #068e08;
    width: 7vw;
}

#room {
    width: calc(57vw - 4vmin - 7px - 7vw);
    max-width: calc(750px - 4vmin - 7px - 7vw);
}

#roomInputs {
    display: flex;
    width: 57vw;
    max-width: 750px;
}