body {
    margin: 1%;
    background-color: #201a1b;
    accent-color: #e53434;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 4vmin;
}

.accentText {
    color: #e53434;
}

button {
    background-color: #e53434;
    color: white;
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 100px;
    cursor: pointer;
}

#center {
    margin: auto;
    width: 70vw;
}

#elementilogo {
    width: 20%;
    max-width: 150px;
    min-width: 75px;
    float: right;
}

#headertextdiv {
    max-width: fit-content;
    margin: auto;
}

#headertext {
    font-size: 7vw;
    margin-top: 4%;
    text-align: center;
}

input {
    font-size: 3vmin;
    background-color: #201a1b;
    color: white;
    padding-left: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100%;
    height: 5.8vmin;
    border-color: #979797;
    border-style: solid;
    border-radius: 10px;
    transition-duration: 0.4s;
}

input:focus {
    border-color: #e53434;
}

#usewarning {
    font-size: 3vmin;
}

button {
    font-size: 4vmin;
    height: 5.8vmin;
    padding-left: 7px;
    width: 30.5vmin;
}