@media (max-width: 768px) {
    #alarmButton {margin: auto;}
}

.alerting {
    max-width: 800px;
    margin: 2vw auto;
}

.warning {
    max-width: 800px;
    margin: 2vw auto;
}

#roomInputs {
    display: flex;
    justify-content: space-between;
}

#alarmButton {
    padding: 0.55em;
    font-size: 1.1em;
}

p {margin: 1em 0 0.3em 0;}
