.box {margin: 0 auto 2em auto;}

#messagePrefix {margin-bottom: 0.2em;}
.elementUnderInput {margin-top: 0.5em;}
.detailsBox {
    width: calc(100% - 1em - 8px); /* 100% - 1padding - 1borderWith */
    padding: 0.5em;
    margin: 0;
}
.description {margin: 0 0 0.5em 0;}

#showMaxFrontDistanceToggleDiv {margin-bottom: 0.5em;}

.item-row {
    border-bottom: 2px solid #7589a6;
    padding: 5px 10px;
}


/* NOT REFACTORED!!!! */

.user-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd; /* Add border between username and experience */
    padding-bottom: 10px; /* Add some padding for spacing */
}

.user-experience {
    font-size: 3vmin;
    margin-bottom: 10px;
}

.user-telephone {
    font-size: 3vmin;
    padding-bottom: 0;
}

/* Style the options inside the dropdown */
option {
    background-color: #703353; /* Background color of the options */
    color: #fbd8e6; /* Text color for options */
    padding: 10px; /* Padding for options */
    border: 2px solid #956880; /* Border around the dropdown */
}

.userRow {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #703353;
}

.userRow.selected {
    background-color: #6ca524;
}
